@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    font-family: 'Montserrat', sans-serif !important;
}
.container {
    position: relative;
}
.section {
    position: relative;
}
/*NavMenu*/
.navbar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.navbar-nav {
    margin-left: auto !important;
}
.nav-link {
    margin-right: 67px !important; 
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #333333 !important;
}
.navbar-brand {
    font-size: 34px !important;
    font-weight: 700 !important;
    color: #054C73 !important;
}
/*Section 1*/
.hero {
    position: relative;
    background: url(image/Mask\ Group.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
}
#firstcard {
    position: absolute;
    transform: translate(0px, 50%);
    right: 0;
    background-color: #DFE9F4 !important;
    border-radius: 10px;
    border: none !important;
    padding-bottom: 20px;
}
.p1 {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-top: 10px ;
    padding-bottom: 10px;
}
.firsth1 {
    font-size: 52px;
    font-weight: 700;
    color: #054C73;
    padding-bottom: 20px;
}
.p2 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    padding-bottom: 20px;
}
.button1 {
    background-color: #054C73 !important;
    border-radius: 50px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
}
/*Mini Section*/
.section2 {
    background-color: #F2F5FF;
}
.allcars {
    display: flex;
}
.car {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cars {
    display: flex;
}
.cars {
    display: flex;
    padding-left: 80px;
    padding-top: 20px;
}
.div1 {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.h4s {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}
.p2 {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
/*Section 3*/
.section3 {
    padding-top: 60px;
}
.tittle {
    text-align: center;
    padding-bottom: 40px;
}
.h4s1 {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}
.p3 {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
.images {
    display: flex;
    padding-bottom: 50px;
}
.img1 {
    padding-left: 30px;
    padding-top: 30px;
}
.img2 {
    padding-left: 30px;
}
/*Section 4*/
.section4  {
    background-color: #F2F5FF;
    padding-bottom: 280px;
    padding-top: 50px;
}
.tittle2 {
    width: 514px;
    padding-bottom: 50px;
    padding-top: 252px;
    z-index: 2;
}
.h3s {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
}
.p3 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #666666;
}
.a1 {
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: #054C73;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}
.cont4 {
    display: flex;
}
.img3 {
    position: absolute;
    right: 0;
    z-index: 2;
}
/*Section5*/
.section5 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.h3s1 {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}
.tittle3 {
    text-align: center;
    padding-bottom: 30px;
}
.p4 {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
.image2 {
    display: flex;
}
.img01 {
    padding-left: 17px;
}
.h3s2 {
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
}
.rgoli {
    position: absolute;
    height: 373.7103576660156px;
    width: 372px;
    top: 0;
    transform: translate(80%, 50%);
    border-radius: 100%;
    background-color: #09513B;
}
/*Section 6*/
.section6 {
    padding-bottom: 196px;
}
.tittle4 {
    text-align: center;
    padding-bottom: 20px;
}
.h4s2 {
    font-size: 32px;
    font-weight: 700;
}
.p5 {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
.image002 {
    display: flex;
}
.img4 {
    padding-right: 20px;
}
.span01 {
    font-size: 24px;
    font-weight: 700;
}
.rgoli2 {
    border: 15px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    height: 90px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
    transform: translate(150px, -50%);
    padding-top: 10px;
}
.h2s1 {
    font-size: 24px;
    font-weight: 700;
}
.p6 {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}
/*Section 7*/
.section7 {
    background-color: #F2F5FF;
    padding-bottom: 60px;
    padding-top: 60px;
}
.tittle5 {
    height: 71px;
    width: 514px;
    margin: auto;
    text-align: center;
    padding-bottom: 150px;
}
.h2s2 {
    font-size: 32px;
    font-weight: 700;
}
.p7 {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
.emaili {
    font-size: 16px;
    font-weight: 400;
    color: #011C42;
}
.emaili {
    position: relative;
    padding-left: 30px;
    font-size: 20px;
    height: 70px;
    border: 1px solid #054C73;
}
.button5 {
    position: absolute ;
    height: 70px;
    width: 153px;
    background-color: #054C73;
    padding-top: 10px;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
.submitclass {
    text-align: center;
    transform: translate(-7%);
}
/*Footer*/
footer {
    background-color: rgba(3, 52, 79, 1);
    padding-top: 50px;
    padding-bottom: 50px;
}
#cont0 {
    display: flex;
}
.h3f {

    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
}
.pf {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 35px;
}
.h3f1 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.imgfooter {
    padding-left: 20px;
}
.hfooter {
    color: rgba(255, 255, 255, 1);
    padding-left: 20px;
    padding-bottom: 10px;
}
.instagramimg {
    display: flex;
}
/*Responsive*/
@media only screen and (max-width: 1024px) {
    #firstcard {
        width: auto !important;
        max-width: 100%;
  }
  .hero {
    height: 530px;
  }
  .rgoli {
    display: none;
  }
  .image1 {
    width: 420px;
  }
  .img007 {
    width: 300px;
  }
  .img008 {
    width: 300px;
  }
  .img006 {
    width: 290px;
  }
}
@media only screen and (max-width: 991px) {
    #firstcard {
        width: 320px !important;
        transform: translate(0px, 20px);
  }
  .section4 {
    padding-bottom: 150px;
    padding-top: 10px;
  }
  .firsth1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  .img006 {
    width: 220px;
  }
  .image1 {
    width: 300px;
  }
  .img3 {
    padding-top: 190px;
  }
  .tittle2 {
    width: 300px;
  }
  .img007 {
    width: 220px;
  }
  .img008 {
    width: 220px;
  }
  .rgoli2 {
    transform: translate(70px, -50%);
  }
  #cont0 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .p1 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .firsth1 {
    padding-bottom: 0;
  }
  .img009 {
    width: 120px;
  }
}
@media only screen and (max-width: 922px) {
  .hero {
    height: 470px;
  }
}
@media only screen and (max-width: 888px) {
  .hero {
    height: 400px;
  }
}
@media only screen and (max-width: 818px) {
  .img006 {
    width: 160px;
  }
  .image1 {
    width: 250px;
  }
  .tittle2 {
    width: 250px;
  }
  .img007 {
    width: 160px;
  }
  .img008 {
    width: 160px;
    padding-bottom: 20px;
  }
  .rgoli2 {
    display: none;
  }
  .image2 {
    padding-left: 60px;
  }
  .hero {
    height: 410px;
  }
  .allcars {
    display: block;
  }
}
@media only screen and (max-width: 784px) {
    .hero {
      height: 370px;
    }
}
@media only screen and (max-width: 674px) {
    .hero {
        height: 350px;
    }
    .image2 {
        padding-left: 0;
    }
    .a1 {
        padding-left: 42px;
        padding-right: 42px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .card-body {
        padding: 0 !important;
        padding-left: 5px !important;
    }
}
@media only screen and (max-width: 648px) {
    .hero {
      height: 320px;
    }
}
@media only screen and (max-width: 622px) {
    .img006 {
      width: 150px;
    }
}
@media only screen and (max-width: 462px) {
    .image002 {
      display: block;
    }
}
@media only screen and (max-width: 566px) {
    .hero {
        height: 290px;
    }
    .p1 {
        display: none;
    }
    .img006 {
        width: 130px;
      }
      .image1 {
        width: 270px;
        padding-top: 50px;
      }
      .tittle2 {
        width: 220px;
      }
      .img007 {
        width: 130px;
      }
      .img008 {
        width: 130px;
        padding-bottom: 20px;
      }
      .rgoli2 {
        display: none;
      }
      .image2 {
        padding-left: 60px;
      }
      .section6 {
        padding-bottom: 50px;
      }
      .image002 {
        padding-left: 30px;
      }
      .img009 {
        width: 80px;
      }
}
@media only screen and (max-width: 534px) {
    .hero {
        height: 270px;
    }
    .image2 {
        padding-left: 30px;
    }
    .image1 {
        width: 200px;
    }
    .section4 {
        padding-bottom: 50px;
    }
    .tittle2 {
        padding-bottom: 50px;
        padding-top: 152px;
    }
    .tittle5 {
        width: auto;
    }
    .emaili {
        width: auto;
    }
    .submitclass {
        transform: translate(-15%);
    }
}
@media only screen and (max-width: 502px) {
      .img006 {
        width: 120px;
      }
      .image1 {
        width: 150px;
      }
      .img3 {
        padding-top: 100px;
      }
      .img007 {
        width: 120px;
      }
      .img008 {
        width: 120px;
      }
      .img009 {
        width: 70px;
      }
}
@media only screen and (max-width: 476px) {
    .hero {
        height: 240px;
    }
    #firstcard {
        width: auto !important;
    }
    .img006 {
        width: 90px;
      }
      .image1 {
        width: 180px;
      }
      .img3 {
        padding-top: 100px;
      }
      .img007 {
        width: 90px;
      }
      .img008 {
        width: 90px;
      }
      .img009 {
        width: 70px;
      }
      .emaili {
        font-size: 15px;
      }
}
@media only screen and (max-width: 444px) {
    .image002 {
        display: block;
    }
    .image2 {
        padding-left: 0;
    }
    .image1 {
        display: none;
    }
    .tittle2 {
        margin: auto;
    }
    .submitclass {
        transform: translate(-22%);
    }
    .img009 {
        width: 50px;
      }
}
@media only screen and (max-width: 372px) {
    .img006 {
        width: 60px;
    }
    .img007 {
        width: 60px;
    }
    .button5 {
      height: 70px;
      width: 120px;
    }
    .emaili {
      padding-left: 0;
    }
    .h3s2 {
      font-size: 17px;
    }
    .submitclass {
      padding-top: 90px;
      padding-left: 40px;
    }
    .emaili {
      padding-left: 5px;
      font-size: 12px;
    }
    .button5 {
      height: 70px;
      width: 80px;
    }
}